.root {
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--space-6);
}

.sm {
  max-width: var(--container-width-sm);
}

.md {
  max-width: var(--container-width-md);
}

.lg {
  max-width: var(--container-width-lg);
}

.xl {
  max-width: var(--container-width-xl);
}

@media (min-width: 640px) {
  .root {
    padding-inline: var(--space-10);
  }
}
